.menu{
background-color: rgb(233, 228, 238);
border-top: 1px solid gray;

}

.menu_item{
font-family:'Times New Roman', Times, serif;
font-size: 1rem;
display: inline-block;
padding: 1rem 1rem}

.menu_item:hover{
background-color: white;
border-bottom: none;
margin: 0- 2px solid rgb(17, 16, 16);
border-left: 1px solid grey;
border-right: 1px solid rgb(12, 12, 12);

}

.menu_item--current .menu_item_link{
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 0.3rem black;
}

.menu_item_link{
    text-decoration: none;
    color: gray;
    font-family:  'Arial Narrow';
    font-size: 1.5rem;
    font-weight: 600;
}

.menu_item_link:hover{
    text-decoration: underline;
    color: aquamarine;

}
